@using NLayer.Core.DTOs;
@model List<ProductWithCategoryDTO>
@{
    ViewData["Title"] = "Index";
}

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Product</th>
            <th>Stock</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Stock</td>
                <td>@item.Price</td>
                <td>@item.Category.Name</td>
            </tr>
        }
    </tbody>
</table>

