@using NLayer.Core.DTOs;
@model List<ProductWithCategoryDTO>
@{
    ViewData["Title"] = "Index";
}
<div class="row">
    <div class="col-md-12">
        <a href="/Product/Add">Add Product</a>
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Product</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th width="1px"></th>
                    <th width="1px"></th>
                    <th width="1px"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Stock</td>
                        <td>@item.Price</td>
                        <td>@item.Category.Name</td>
                        <td>
                            <a href="Product/Details/@item.Id">Details</a>
                        </td>
                        <td>
                            <a href="/Product/Update/@item.Id">Update</a>
                        </td>
                        <td>
                            <a href="/Product/Delete/@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>